@font-face {
  font-family: "Cartograph Sans CF";
  font-weight: 100;
  src: url("https://www.mediy.cz/link_biscuit/fonts/cartograph-sans-cf-thin.otf")
    format("opentype");
}
@font-face {
  font-family: "Cartograph Sans CF";
  font-weight: 800;
  src: url("https://www.mediy.cz/link_biscuit/fonts/cartograph-sans-cf-heavy.otf")
    format("opentype");
}

body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  overflow: hidden;
  background-color: #eef0f2;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  line-height: clamp(1rem, 4vh, 6rem);
  color: #666;
}
* {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cartograph Sans CF;
  font-weight: 100;
  font-size: clamp(0.8rem, 0.8vw, 6rem);
}
main,
.AppV1 {
  width: 80vw;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
main *:not(script) {
  display: flex;
  width: 100%;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.col-rev {
  flex-direction: column-reverse;
}
.pad-r {
  padding-right: 1vw;
}
.pad-l {
  padding-left: 1vw;
}
.h-big {
  height: clamp(4rem, 12vh, 8rem);
}
.h-norm {
  height: clamp(2rem, 5vh, 6rem);
}
.item-start {
  align-items: start;
}
.item-center {
  align-items: center;
}
.item-end {
  align-items: end;
}
.self-start {
  align-self: start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: end;
}
.content-start {
  justify-content: start;
}
.content-center {
  justify-content: center;
}
.content-end {
  justify-content: end;
}
.flex-7-5 {
  flex-basis: 7.5%;
}
.flex-12-5 {
  flex-basis: 12.5%;
}
.flex-17-5 {
  flex-basis: 17.5%;
}
.flex-22-5 {
  flex-basis: 22.5%;
}
.flex-25 {
  flex-basis: 25%;
}
.flex-40 {
  flex-basis: 40%;
}
.flex-50 {
  flex-basis: 50%;
}
.flex-60 {
  flex-basis: 60%;
}
.flex-70 {
  flex-basis: 70%;
}
.flex-80 {
  flex-basis: 80%;
}
.flex-75 {
  flex-basis: 75%;
}
.flex-100 {
  flex-basis: 100%;
}
.dimgray {
  color: #666;
}
.green {
  color: #79b473;
}
.blue {
  color: blue;
}
.silver {
  color: #d9c7b4;
}
.err {
  color: #da745d;
}
.strong,
b {
  font-weight: 800;
}
.left {
  text-align: left;
}

section {
  padding: 2.5vh 0vw;
  max-height: 100vh;
}
section.intro {
  border-bottom: 1px solid #d9c7b4;
}
h1 {
  line-height: clamp(4rem, 12vh, 8rem);
  font-size: clamp(1.6rem, 3.6vw, 6rem);
}
input.link {
  border: 2px solid #d9c7b4;
}
input.link::placeholder {
  color: #d9c7b4;
}
input.link:focus {
  border: 2px solid blue;
}
input.link:focus::placeholder {
  color: transparent;
}
input.submit {
  font-weight: 800;
  border: 2px solid #d9c7b4;
  background-color: #d9c7b4;
  color: white;
}
input.submit:hover {
  cursor: pointer;
}
input.submit:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
table,
td,
th,
tbody {
  display: block !important;
  text-align: center;
}
td,
th {
  padding-right: 1vw;
}
span,
i,
b {
  display: inline !important;
}
a {
  text-decoration: underline;
  color: blue;
  display: inline !important;
  width: auto !important;
}
